@model atechworld.Models.DT

@{
    ViewBag.Title = "Chỉnh Sửa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style type="text/css">
    .tv a {
        color: blue;
        font-size: 18px;
        font-weight: 700;
        font-family: system-ui;
        background: none;
        text-decoration: none;
    }

    h2 {
        text-align: center;
        margin-top: 28px;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .buttons {
        margin: 10%;
        text-align: center;
    }

    .btn-hover {
        width: 200px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        margin: 20px;
        height: 55px;
        text-align: center;
        border: none;
        background-size: 300% 100%;
        border-radius: 50px;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

        .btn-hover:hover {
            background-position: 100% 0;
            moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }

        .btn-hover.color-1 {
            background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
            box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
        }

        .btn-hover:focus {
            outline: none;
        }
</style>

<h2>Chỉnh Sửa Thông Tin Sản Phẩm</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.MaDT)

            <div class="form-group">
                @Html.LabelFor(model => model.MaDT, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div>
                        @Model.MaDT
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TenDT, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenDT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenDT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GiaBan, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MoTa, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <textarea name="MoTa"> @Model.MoTa </textarea>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnhBia, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    Chọn Ảnh Mới:
                    <br />
                    <input type="file" name="fileupload" />
                    <br />
                    <br />
                    <img src="@Url.Content("~/product_img/" + Model.AnhBia)" style="width: 50%;" />
                    <br />
                    (Ảnh hiện tại)
                    @ViewBag.Thongbao
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NgayCapNhat, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgayCapNhat, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NgayCapNhat, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SoLuongTon, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoLuongTon, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaCD, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("MaCD")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaNSX, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("MaNSX")
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @*<input type="submit" value="Lưu Thay Đổi" class="btn btn-default" />*@
                    <input type="submit" value="Lưu Thay Đổi" class="btn-hover color-1" />
                </div>
            </div>
        </div>
        <br />
        <div class="tv">
            @Html.ActionLink("Trở Về", "Sanpham")
        </div>
    </div>
}


